{% load static %}

<style>
@font-face{
    font-family:Sono-Regular;
    src: url('{% static "schedule/font/Sono-Regular.ttf" %}');
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    transition: .3s all ease-in-out;
}

body,html{
    /* height:100%; */
    font-family:sans-serif
}

#header, #footer{
    padding: 10px;
    position: sticky;
    background:#36304a;
    width: 100%;
    color: #fff;
    font-family: Sono-Regular;
    z-index:3; 
}


#header{
    top:0;
    left:0;
}

#footer{
    bottom: 0;
    left: 0;
}

#header div, #footer div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

a, input[type="submit"]{
    padding: 10px;
    background: white;
    box-shadow: inset 1px 2px 3px #999, inset -1px -2px 3px #999;
    color: #36304a;
    font-family: Sono-Regular;
    text-decoration: none;
    font-weight: bold;
    border-radius: 7px;
    cursor: pointer;
    border: 1px solid #36304a;

}

a:focus, a:hover, input[type="submit"]:hover, input[type="submit"]:focus{
    outline:none!important;
    box-shadow: inset 1px 2px 0px #999, inset -1px -2px 0px #999;
    color: #fff;
    background: #36304a;
}


h1,h2,h3,h4,h5,h6{
    margin:0
}

p{
    margin:0
}

ul,li{
    margin:0;
    list-style-type:none
}

input{
    display:block;
    outline:none;
    border:none!important
}

textarea{
    display:block;
    outline:none
}

textarea:focus,input:focus{
    border-color:transparent!important
}

button{
    outline:none!important;
    border:none;
    background:0 0
}

button:hover{
    cursor:pointer
}


iframe{
    border:none!important
}


#form-container{    
    margin: 4px auto;
    width: 95%;
    display: flex;
    align-items: center;
    justify-contents: flex-start;
    flex-wrap: wrap;
    background: #fff;
    border-radius: 7px;
    font-family: Sono-Regular;
    color: #36304a;
    font-weight: bold;
}

#exclusion-form{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-contents: center;
    padding: 10px;
    margin: 15px auto;
    border-radius: 4px;
    flex-basis: 7px;
    cursor: pointer;
}

#exclusion-form >*{
    margin: 0 5px;
}


.limiter{
    width:100%;
    margin:0 auto;
}

.container-table100, .container-form{
    width:100%;
    background:#c850c0;
    background:-webkit-linear-gradient(45deg,#4158d0,#c850c0);
    background:-o-linear-gradient(45deg,#4158d0,#c850c0);
    background:-moz-linear-gradient(45deg,#4158d0,#c850c0);
    background:linear-gradient(45deg,#4158d0,#c850c0);
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-wrap:wrap;
    padding:10px 10px;
}
.container-table100{
    min-height:100vh;
}
.wrap-table100{
    width: 98%;
    overflow-x: scroll;
    border-radius:10px;
}

.wrap-table100::-webkit-scrollbar{
    display:none;
}


table{
    border-spacing:1;
    border-collapse:collapse;
    background:#fff;
    border-radius:10px;
    overflow:hidden;
    width:100%;
    margin:4 auto;
    position:relative;
}


table *{
    position:relative
}

table td,table th{
    padding-left:8px
}


table thead tr{
    height:100px;
    background:#36304a
}

table tbody tr{
    height:50px
}


table tbody tr:last-child{
    border:0
}

table td,table th{
    text-align:left
}


table td.l,table th.l{
    text-align:right
}


table td.c,table th.c{
    text-align:center
}


table td.r,table th.r{
    text-align:center
}

.table100-head th{
    font-family:Sono-Regular;
    font-size:18px;
    color:#fff;
    line-height:1.2;
    font-weight:unset
}

tbody tr:nth-child(even){
    background-color:#f5f5f5
}


tbody tr{
    font-family:Sono-Regular;
    font-size:15px;
    color:gray;
    line-height:1.2;
    font-weight:unset
}


tbody tr:hover{
    color:#555;
    background-color:#f5f5f5;
    cursor:pointer
}



.column1{
    width:260px;
    padding-left:40px
}

.column2{
    width:160px
}

.column3{
    width:245px
}


.column4{
    width:110px;
    text-align:right
}

.column5{
    width:170px;
    text-align:right
}

.column6{
    width:222px;
    text-align:right;
    padding-right:62px
}

th, td{
    width: 30px;
}


@media screen and (max-width:992px){
    
}


@media(max-width:576px){
    * {
        font-size: 11px;
    }
    table thead tr{
        height:50px;
    }
    
    table thead tr{
        font-size: 11px;
    }
    #exclusion-form{    
        flex-direction: column;
    }

    #exclusion-form > * {
        margin: 4px auto;
    }

    #footer{
        position: static;
    }

    #footer div{
        flex-direction: column;
    }

    #footer div > *{
        margin: 4px auto;
    }

}


</style>
