{% extends 'schedule/base.html' %}



{% block head %}
<style>

table {
  border-collapse: collapse;
  border-radius:10px;
  
}

th {
  background-color: #182e62;
  color: white;
}


td, th{
  padding: 10px;
  border: 1px solid #aaa;
}

.wrap-table100{
  width: 98%;
  border-radius:10px;
}


table thead tr{
  height:100px;
  background:#36304a;
}

</style>

{% endblock head %}


  {% block header %}
  <div> 
    <h3> Computer Science Department TimeTable </h3>
  </div>
  {% endblock header %}
  
  
  {% block content %}
  
    <div class="limiter">
      <div class="container-table100">
      <div class="wrap-table100">
      <div class="table100">
    <table>
      <thead>
      <tr class="table100-head">
        <th>Time/Day</th>
          {% for time_slot in time_slots %}
              <th>{{time_slot}}</th>
          {% endfor %}
      </tr>
      </thead>
  
      <tbody>
      {% for row in rows %}
          <tr>
              <td>{{row}}</td>
              {% for time_slot in time_slots %}
                  <td>
                  {% for cell in cells %}
                      {% if cell.value == 1 and cell.row == row and cell.column.time_slot == time_slot %}
                          {{cell}}
                      {% endif %}
                  {% endfor %}
                  </td>
              {% endfor %}
          </tr>
      {% endfor %}
        </tbody>
    </table>
  </div>
  </div>
  </div>
  </div>
  
</body>
</html>
{% endblock content %}


{% block footer %}
<br>
<br>
<br>
<br>

<div>
  <div>Built By E-Factorial</div>
</div>
{% endblock footer %}
