
{% extends 'schedule/base.html' %}

{% block title %}
Venue Schedule
{% endblock title %}

{% block content %}
<h3>Examination Timetable sorted by venue</h3>
  {% for venue,activity in venues_sorted_columns %}
<div class='container'>
    
  <table>
    <tr>
      <th>{{venue}}</th>
        {% for column in activity %}
          <th>{{column.course_code}}</th>
        {% endfor %}
    </tr>
        <tr>
          <td>Start time</td>
        {% for column in activity %}
        <td> {{column.time_slot.start_hour}}
      </td>
        {% endfor %}
        </tr>

        <td>end time</td>
        {% for column in activity %}
        <td> {{column.time_slot.end_hour}}
      </td>
        {% endfor %}
        </tr>
  </table>
</div>
  <br>
  <br>

  <br>
  <br>

  <br>
  <br>

    {% endfor %}





{% endblock content %}