
{% extends 'schedule/base.html' %}

{% block title %}
Time Matrix
{% endblock title %}

{% block content %}
<h3> Time Matrix </h3>
<div class="link-box">
  <a href="{% url 'venue' %}">Venue Schedule</a>
</div>
<div class='container'>
  <table>
    <tr>
      <th></th>
        {% for column in columns %}
          <th>{{column}}</th>
        {% endfor %}
    </tr>
    {% for row in rows %}
        <tr>
          <td>{{row}}</td>
        {% for column in columns %}
        {% for cell in cells %}
            {% if cell.row == row and cell.column == column %}
              <td>{{cell.value}}</td>
            {% endif %}
        {% endfor %}
        {% endfor %}
        </tr>
    {% endfor %}
  </table>
</div>

  <br>
  <br>
  <br>
  <br>


<div class='container'>
  <table>
    <tr>
      <th>Time/Day</th>
        {% for day in days %}
          <th>{{day}}</th>
        {% endfor %}
    </tr>
    {% for t in time %}
        <tr>
          <td>{{t}}</td>
        {% for day in days %}
        <td> 
        
        {% for cell in cells %}
              {% if cell.column.time_slot.start_hour <= t and t < cell.column.time_slot.end_hour %}
            {% if cell.row.day == day %}
            {% if cell.value == 1 %}
              {{cell}} ,
            {% endif %}
            {% endif %}

            {% endif %}
        {% endfor %}
      </td>
        {% endfor %}
        </tr>
    {% endfor %}
  </table>
</div>


{% endblock content %}