
{% extends 'schedule/base.html' %}

{% block title %}
Time Matrix
{% endblock title %}



{% block head %}
{% include 'schedule/main.html' %}
{% endblock head %}



{% block content %}



{% block header %}
<div>

  <h3> Time Matrix </h3>
  <div class="link-box">
    <a href="{% url 'venue' %}">Venue Schedule</a>
  </div>
    
</div>
{% endblock header %}



<div class="limiter">
  <div class="container-table100">
  <div class="wrap-table100">
  <div class="table100">
  <table>
    <thead>
    <tr class="table100-head">
      <th></th>
        {% for column in columns %}
          <th>{{column.course_code}}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for row in rows %}
        <tr>
          <td>{{row}}</td>
        {% for column in columns %}
        {% for cell in cells %}
            {% if cell.row == row and cell.column == column %}
              <td>{{cell.value}}</td>
            {% endif %}
        {% endfor %}
        {% endfor %}
        </tr>
    {% endfor %}
    </tbody>

  </table>
</div>
</div>
</div>
</div>



<script>
  function getDeviceTheme() {
    if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
        return 'dark';
    } else {
        return 'light';
    }
  }

// Usage
var deviceTheme = getDeviceTheme();
console.log('Device theme:', deviceTheme);
</script>
  
{% endblock content %}




{% block footer %}
<div>
  <div>This page is  algorithm</div>

  <div>Built By E-Factorial</div>
</div>
{% endblock footer %}
