
{% extends 'schedule/base.html' %}

{% block title %}
Time Matrix
{% endblock title %}



{% block head %}
{% include 'schedule/main.html' %}
{% endblock head %}


{% block header %}
<div>

  <h3> Time Matrix </h3>
  <div class="link-box">
    <a href="{% url 'schedule-courses' %}">TimeTable</a>
  </div>
    
</div>
{% endblock header %}


{% block content %}





<div class="limiter">
  <div class="container-table100">
  <div class="wrap-table100">
  <div class="table100">
  <table>
    <thead>
    <tr class="table100-head">
      <th></th>
        {% for column in columns %}
          <th>{{column.course_code}}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for row in rows %}
        <tr>
          <td>{{row}}</td>
        {% for column in columns %}
        {% for cell in cells %}
            {% if cell.row == row and cell.column == column %}
              <td>{{cell.value}}</td>
            {% endif %}
        {% endfor %}
        {% endfor %}
        </tr>
    {% endfor %}
    </tbody>

  </table>
</div>
</div>
</div>
</div>



<script>
  function getDeviceTheme() {
    if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
        return 'dark';
    } else {
        return 'light';
    }
  }

// Usage
var deviceTheme = getDeviceTheme();
console.log('Device theme:', deviceTheme);
</script>
  
{% endblock content %}




{% block footer %}
<div>
  <div>This page is meant for the showing the time matrix algorithm</div>
  <div>
    <form action="" method="post" enctype="x-www-urlencoded">
      {% csrf_token %}
      <input type="submit" value="Schedule">
    </form>
  </div>
  <div>Built By E-Factorial</div>
</div>


<script>
/*
 var form = document.getElementById("polling-unit-form");
  form.addEventListener("submit", function (event) {
      event.preventDefault(); 
      submitForm();
  });
  var notification = document.createElement("div");
          notification.textContent = "Data saved successfully!";
          notification.setAttribute("id", "notification");;
          document.body.appendChild(notification);
      
  function submitForm() {
    var form = document.getElementById("polling-unit-form");
    var formData = new FormData(form);
    fetch(form.action, {
        method: "POST",
        headers: {
            "X-CSRFToken": "{{ csrf_token }}",
        },
        body: formData
    })
    .then(response => response.json())
    .then(data => {
        // Handle the response from the server
          let notification = document.getElementById('notification');
            notification.style.display = "block";
          setTimeout(function() {
            notification.style.display = "none";
          }, 5000);
          let form = document.getElementById('polling-unit-form');
          form.reset();

    })
    .catch(error => {
        // Handle any errors that occur during the request
        console.error(error);
    });
}

*/
</script>
{% endblock footer %}
