{% extends 'schedule/base.html' %}



{% block title %}
{{venue}} TimeTable
{% endblock title %}


{% block head %}
{% include 'schedule/main.html' %}
{% endblock head %}




{% block header %}
<div>

  <h3>{{venue}} TimeTable</h3>
  <div class="link-box">
    <a href="{% url 'schedule-courses' %}">TimeTable</a>
  </div>
    
</div>
{% endblock header %}




{% block content %}



<div class="limiter">
  <div class="container-table100">
  <div class="wrap-table100">
  <div class="table100">
    <table>
      <tr>
        <th>Time/Day</th>
          {% for day in days %}
            <th>{{day}}</th>
          {% endfor %}
      </tr>
  
      {% for time_slot in time_slots %}
          <tr>
            <td>{{time_slot}}</td>
          {% for day in days %}
          <td> 
          
          {% for cell in cells %}
                {% if cell.column.time_slot == time_slot %}

              {% if cell.row.day == day %}
              {% if cell.value == 1 %}
                {{cell}} 
              {% endif %}
              {% endif %}
  
              {% endif %}
          {% endfor %}
        </td>
          {% endfor %}
          </tr>
      {% endfor %}
    </table>
  </div>
</div>
</div>
</div>

  {% endblock content %}
  
  
  